body {
    background-color: #64c1bc;
    text-align: center;
}

.navbar {
    background-color: #333333;
}

a {
    color: #24c9c9;
}

a:hover {
    color: #614848;
  }

.card{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 153);
  }